{% include 'base.html' %}
{%load static %}
<html lang="en">
    <head>
       
        <title>Dashboard</title>
        
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

        <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
    
     
	  
<style type="text/css">
    .navbar{
        background-color: #134f5c;
    }
    .sb-sidenav-menu{
        background-color: #134f5c ;
    }
    .nav-item li{
        background-color: #ce7e00;
    }
    .table{
        margin-top: 15%;
        
    }
  
</style>

    </head>
        <body>

            <div class="table-responsive"style="padding-left: 15%;">
              <table id= "example" class="table table-bordered  table table-primary table-striped table-hover">
                <thead>
                  <tr>
                    
                    <th scope="col">Vacant Rooms</th>
                    <th scope="col">Most Booked Rooms</th>
                    <th scope="col">Number of bookings in a day</th>
                  </tr>
                </thead>
                <tbody>
            
                  <t>
                     <td>{}</td>
                     <td>{}</td>
                     <td>{}</td>
                  </tr>
                  <t>
                    <td>{}</td>
                    <td>{}</td> 
                    <td>{}</td>
                 </tr>
                 <t>
                    <td>{}</td>
                    <td>{}</td>  
                    <td>{}</td>
                 </tr>
                 <t>
                    <td>{}</td>
                    <td>{}</td>  
                    <td>{}</td> 
                 </tr>
                
                </tbody>
              </table>
            </div>
    <div>
        {% block content %}{% endblock %}
    </div>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        </script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    
</body>
</html>