{% include 'base.html' %}
{% load static %}
{% block content %}
    <title>Lobby</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <style>

      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
          Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }

      .main-container {
        padding: 30px;
      }

      /* HEADING */

      .heading {
        text-align: center;
      }

      .heading__title {
        font-weight: 600;
      }

      .heading__credits {
        margin: 10px 0px;
        color: #888888;
        font-size: 25px;
        transition: all 0.5s;
      }

      .heading__link {
        text-decoration: none;
      }

      .heading__credits .heading__link {
        color: inherit;
      }

      /* CARDS */

      .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .card {
        margin: 20px;
        padding: 20px;
        width: 500px;
        min-height: 200px;
        display: grid;
        grid-template-rows: 20px 50px 1fr 50px;
        border-radius: 10px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.2s;
      }

      .card:hover {
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.01);
      }

      .card__link,
      .card__exit,
      .card__icon {
        position: relative;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.9);
      }

      .card__link::after {
        position: absolute;
        top: 25px;
        left: 0;
        content: "";
        width: 0%;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.6);
        transition: all 0.5s;
      }

      .card__link:hover::after {
        width: 100%;
      }

      .card__exit {
        grid-row: 1/2;
        justify-self: end;
      }

      .card__icon {
        grid-row: 2/3;
        font-size: 30px;
      }

      .card__title {
        grid-row: 3/4;
        font-weight: 400;
        color: #ffffff;
      }

      .card__apply {
        grid-row: 4/5;
        align-self: center;
      }

      @media (max-width: 1600px) {
        .cards {
          justify-content: center;
        }
        .main {
          background-image: url(..img/ex.jpg);
        }
      }
    </style>  
    <div id="layoutSidenav_content" style="padding-left: 18%; padding-top: 50px">
      <main>
        <div class="container-fluid px-4">
          <h1 class="mt-4">Rooms</h1>
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
              <h5 class="card-title" >Hollow Square Style</h5>
              <div> <a href="../reservation" class="card" style="background-image: url(https://5.imimg.com/data5/BM/HI/MY-306032/conference-facilities-500x500.jpg); height:fit-content;"></a>  
                <div class="card-body">
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <h5 class="card-title">Boardroom Style</h5>
              <div><a href="../reservation" class="card" style="background-image: url(https://i.itbusiness.ca/wp-content/uploads/2014/02/Charming-modern-minimalist-meeting-room-interior-design.jpg);height:fit-content;"></a>
                <div class="card-body">
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <h5 class="card-title">Classroom Style</h5>
              <div><a href="../reservation"  class="card" style="background-image: url(https://www.shilla.net/images/en/jeju/facilities/msRoomImg.jpg); height:fit-content;"></a>
                <div class="card-body">
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <h5 class="card-title">Auditorium Style</h5>
              <div><a href="../reservation" class="card" style="background-image: url(https://www.bigvenuebook.com/venue-images/room_image5171.jpg); background-repeat: no-repeat; height:fit-content;"></a>
                <div class="card-body">
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <h5 class="card-title">U-Shape Style</h5>
              <div> <a href="../reservation"class="card" href=""style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQid_MXLBiOwpFi3pOsiwTCxrkDdIWsAVgwgo9KFtHMJ4xSjrmM6sLWV4l5Iy8z-LfnV_g&usqp=CAU);"></a>
                <div class="card-body">
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <h5 class="card-title">Banquet Style</h5>
              <div><a href="../reservation"class="card" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwtpVIB-SUVmu6qd7RUvMgyFfsKN5e4_mEHSL2nkQUa6dlKYK3jRnofQtIBE4gj-vbkQk&usqp=CAU); height:fit-content;"></a>
                <div class="card-body">
                </div>
            </div>
          </div>
        </div>
      </main>

      <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
              <div class="d-flex align-items-center justify-content-between small">
                  <div class="text-muted">Copyright &copy; Your Website 2021</div>
                  <div>
                      <a href="#">Privacy Policy</a>
                      &middot;
                      <a href="#">Terms &amp; Conditions</a>
                  </div>
              </div>
          </div>
      </footer>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets2/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets2/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'assets2/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'assets2/js/datatables-simple-demo.js' %}"></script>
{% endblock %}
